/* Fondo general */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  width: 100vw;
}

.background {
  background-image: url(''); 
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Caja del login */
.login-box {
  background-color: rgba(255, 252, 245, 0.95);
  padding: 60px 40px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Campos de entrada */
.input-field {
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 30px;
  width: 100%;
  font-size: 16px;
  outline: none;
}

/* Botón */
.login-button {
  background-color: #a2e888;
  border: none;
  padding: 15px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #8edc6e;
}