<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Integracion | Datos Generales</title>
  <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-dark text-white">
<div 
  class="min-vh-100 d-flex"
  style="background: url('../assets/UT_pattern_bg.png') 
         no-repeat center center fixed; background-size: cover;
         background-color: rgba(0, 0, 0, 0.3);
         background-blend-mode: overlay;"
>
<header class="col-lg-12">
    <div class="shadow-lg p-3" style="width: 100%; background-color: white; border-bottom: 2px solid #3b3b3b;">
        <h1 class="text-center text-uppercase" style="color: #009650;">Datos Generales</h1>
    <div>
</header>
  <script src="../public/js/bootstrap.bundle.min.js"></script>
</body>
</html>
