<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Integracion | Formacion Academica</title>
  <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="icon" href="../assets/SIC_cube.png" type="image/png">
</head>
<body class="bg-dark text-white">
  <div 
    class="min-vh-100"
    style="background: url('../assets/UT_pattern_bg.png') 
          no-repeat center center fixed; background-size: cover;
          background-color: rgba(0, 0, 0, 0.3);
          background-blend-mode: overlay;"
  >
    <header class="col-lg-12">
        <div class="shadow-lg p-3" style="width: 100%; background-color: white; border-bottom: 2px solid #3b3b3b;">
            <h1 class="text-center text-uppercase" style="color: #009650;">Formacion Academica</h1>
        </div>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="shadow-lg p-4" style="background-color:whitesmoke">
            <form class="d-grid gap-2">

              <label for="ultimo_grado_de_escolaridad" style="color: black;">Ultimo grado de escolaridad</label>
              <div class="d-flex justify-content-around" style="color: black">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesEscolaridad" id="opcion1" checked>
                  <label class="form-check-label" for="opcion1">Secundaria</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesEscolaridad" id="opcion2" checked>
                  <label class="form-check-label" for="opcion2">Bachillerato</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesEscolaridad" id="opcion3" checked>
                  <label class="form-check-label" for="opcion3">Carrera Técnica</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesEscolaridad" id="opcion4" checked>
                  <label class="form-check-label" for="opcion4">Licenciatura</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesEscolaridad" id="opcion5" checked>
                  <label class="form-check-label" for="opcion5">Maestría</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesEscolaridad" id="opcion6" checked>
                  <label class="form-check-label" for="opcion6">Doctorado</label>
                </div>
              </div>

              <label for="licenciatura/maestria/doctorado" style="color: black;">Licenciatura/Maestria/Doctorado en:</label>
              <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Nombre completo del titulo" required>
              <small class="text-muted">Favor de escribir el Nombre Completo de la Licenciatura / Maestria / Doctorado tal y como se muestra en su documento aval, mismo que tendra que cargar terminada la fase de integración</small>

              <div class="d-flex" style="color: black;">
                <label for="estudia_actualmente">Estudia actualmente:</label>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesEstudia" id="opcion1" checked>
                  <label class="form-check-label" for="opcion1">Si</label>
                </div>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesEstudia" id="opcion2" checked>
                  <label class="form-check-label" for="opcion2">No</label>
                </div>
              </div>

              <div class="d-flex">
                <div class="flex-grow-1 me-3">
                  <label for="nombre_institucion" style="color: black;">Nombre de la Institución</label>
                  <input type="text" id="nombre_institucion" name="nombre_institucion" class="form-control" placeholder="Nombre Completo de la institucion" required>
                </div> 
                <div class="flex-grow-1 me-3">
                  <label for="grado" style="color: black;">Grado</label>
                  <input type="text" id="grado" name="grado" class="form-control" placeholder="Grado" required>
                </div> 
                <div class="flex-grow-1 me-3">
                  <label for="nombre_carrera" style="color: black;">Nombre de la carrera</label>
                  <input type="text" id="nombre_carrera" name="nombre_carrera" class="form-control" placeholder="Nombre Completo de la carrera" required>
                </div> 
              </div> 

              <div class="forrm-group d-flex">
                <div class="flex-grow-1 me-3">
                  <label for="fecha_inicio" style="color: black;">Fecha de inicio</label>
                  <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" required>
                </div> 
                <div class="flex-grow-1 me-3">
                  <label for="fecha_termino" style="color: black;">Fecha de término</label>
                  <input type="date" id="fecha_termino" name="fecha_termino" class="form-control" required>
                </div>
                <div class="flex-grow-1 me-3">
                  <label for="duracion" style="color: black;">Duracion</label>
                  <input type="number" id="promedio" name="duracion" class="form-control" placeholder="Duracion en años" required>
                </div>  
              </div>
              
              <button type="submit" class="btn btn-primary w-25 ms-auto mt-4">Continuar</button>
            </form>  
          </div>      
        </div>
      </div>
    </div>
  </div>  
  <script src="../public/js/bootstrap.bundle.min.js"> </script>
  <script>
    function actualizarDD(valor,id) {
      // Actualiza el texto del botón
      document.getElementById(id).textContent = valor;
    }
  </script>
</body>
</html>