<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Integracion | Datos Generales</title>
  <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body class="bg-dark text-white">
  <div 
    class="min-vh-100"
    style="background: url('../assets/UT_pattern_bg.png') 
          no-repeat center center fixed; background-size: cover;
          background-color: rgba(0, 0, 0, 0.3);
          background-blend-mode: overlay;"
  >
    <header class="col-lg-12">
        <div class="shadow-lg p-3" style="width: 100%; background-color: white; border-bottom: 2px solid #3b3b3b;">
            <h1 class="text-center text-uppercase" style="color: #009650;">Datos Generales</h1>
        </div>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="shadow-lg p-4" style="background-color:whitesmoke">
            <form class="d-grid gap-2">
              <label for="nombre" style="color: black;">Nombre Completo</label>
              
              <div class="form-group d-flex">
                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Nombre(s)" required>
                <input type="text" id="apeliido_paterno" name="apellido p" class="form-control" placeholder="Apellido Paterno" required/>
                <input type="text" id="apeliido_materno" name="apellido m" class="form-control" placeholder="Apellido Materno" required/>
              </div> 
              
              <div class="d-flex">
                <div>
                  <label for="lugar de nacimiento" style="color: black;">Lugar de Nacimiento</label>
                  <div class="form-group d-flex" style="color: black;">
                    <input type="text" id="estado" name="estado" class="form-control" placeholder="Estado" required/>
                    <input type="text" id="pais" name="pais" class="form-control" placeholder="Pais" required/>
                  </div>
                </div>
                <div class="ms-3">
                  <label for="fecha de nacimiento" style="color: black;">Fecha de Nacimiento</label>
                  <div class="form-group">
                    <input type="date" id="fecha_nacimiento" name="fecha_nacimiento" class="form-control text-uppercase" required/>
                  </div>  
                </div>    
              </div>  
              <div class="d-flex">
                <div>
                  <label for="Sexo" style="color: black;">Sexo</label>
                  <div class="dropdown">
                    <button
                          class="btn btn-secondary dropdown-toggle"
                          type="button"
                          id="ddsexo"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                    >
                      Seleccionar
                    </button>
                    <div class="dropdown-menu" aria-labelledby="ddsexo">
                      <a class="dropdown-item" href="#" onclick="actualizarDD('Masculino','ddsexo')">Masculino</a>
                      <a class="dropdown-item" href="#"onclick="actualizarDD('Femenino','ddsexo')">Femenino</a>
                      <a class="dropdown-item" href="#"onclick="actualizarDD('No binario','ddsexo')">No binario</a>
                    </div>
                  </div>
                </div> 
                <div class="ms-3">
                  <label for="curp" style="color: black;">CURP</label>
                  <input type="text" id="curp" name="curp" class="form-control" placeholder="XXXXXXXXXXXXXXXXX" required/>
                </div>  
                <div class="ms-3">
                  <label for="rfc" style="color: black;">RFC</label>
                  <input type="text" id="rfc" name="rfc" class="form-control" placeholder="XXXXXXXXXXX" required/>
                </div>  
              </div> 
              <label for="domicilio" style="color: black;">Domicilio</label>
              <div class="form-group d-flex">
                <input type="text" id="calle" name="calle" class="form-control" placeholder="Calle" required>
                <input type="text" id="smz" name="super_manzana" class="form-control" placeholder="Super Manzana" required/>
                <input type="text" id="mz" name="manzana" class="form-control" placeholder="Manzana" required/>
                <input type="text" id="lt" name="lote" class="form-control" placeholder="Lote" required/>
                <input type="text" id="cp" name="codigo_postal" class="form-control" placeholder="Codigo Postal" required/>
              </div>
              <div>
                <label for="estado_civil_o_conyugal" style="color: black;">Estado civil o conyugal</label>
                <div class="dropdown">
                  <button
                        class="btn btn-secondary dropdown-toggle"
                        type="button"
                        id="ddestado_civil"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                  >
                    Seleccionar
                  </button>
                  <div class="dropdown-menu" aria-labelledby="ddestado_civil">
                    <a class="dropdown-item" href="#" onclick="actualizarDD('Soltera/o','ddestado_civil')">Soltera/o</a>
                    <a class="dropdown-item" href="#"onclick="actualizarDD('Union Libre','ddestado_civil')">Union Libre</a>
                    <a class="dropdown-item" href="#"onclick="actualizarDD('Casada/o','ddestado_civil')">Casada/o</a>
                    <a class="dropdown-item" href="#"onclick="actualizarDD('Divorciada/o','ddestado_civil')">Divorciada/o</a>
                    <a class="dropdown-item" href="#"onclick="actualizarDD('Viuda/o','ddestado_civil')">Viuda/o</a>
                  </div>
                </div>
              </div> 
              <label for="contacto" style="color: black;">Contacto</label>
              <div class="form-group d-flex">
                <input type="text" id="tel_casa" name="tel_casa" class="form-control" placeholder="Tel. Casa" required>
                <input type="text" id="tel_cel" name="tel_cel" class="form-control" placeholder="Tel. Cel" required/>
                <input type="text" id="e_mail" name="e_mail" class="form-control" placeholder="E-mail" required/>
              </div>
              <button type="submit" class="btn btn-primary w-25 ms-auto mt-4">Continuar</button>
            </form>  
          </div>      
        </div>
      </div>
    </div>
  </div>  
  <script src="../public/js/bootstrap.bundle.min.js"> </script>
  <script>
    function actualizarDD(valor,id) {
      // Actualiza el texto del botón
      document.getElementById(id).textContent = valor;
    }
  </script>
</body>
</html>
