<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Integracion | Experiencia Laboral</title>
  <link href="../public/css/bootstrap.min.css" rel="stylesheet"/>
  <link rel="icon" href="../assets/SIC_cube.png" type="image/png">
</head>
<body class="bg-dark text-white">
  <div 
    class="min-vh-100"
    style="background: url('../assets/UT_pattern_bg.png') 
          no-repeat center center fixed; background-size: cover;
          background-color: rgba(0, 0, 0, 0.3);
          background-blend-mode: overlay;"
  >
    <header class="col-lg-12">
        <div class="shadow-lg p-3" style="width: 100%; background-color: white; border-bottom: 2px solid #3b3b3b;">
            <h1 class="text-center text-uppercase" style="color: #009650;">Experiencia Laboral</h1>
        </div>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="shadow-lg p-4" style="background-color:whitesmoke">
            <form class="d-grid gap-2">

              <div class="d-flex align-items-md-center" style="color: black;">
                <label for="cuenta_con_trayectoria_laboral">¿Cuenta con trayectoria laboral?</label>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesEstudia" id="opcion1" checked>
                  <label class="form-check-label" for="opcion1">Si</label>
                </div>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesEstudia" id="opcion2" checked>
                  <label class="form-check-label" for="opcion2">No</label>
                </div>
                <div class="ms-5">
                  <label for="n_anios" style="color: black;">Numero de años</label>
                </div>
                <div class="ms-1">
                  <input type="number" id="n_anios" name="n_anios" class="form-control" placeholder="0" required/>
                </div>
              </div>

              <div class="d-flex align-items-md-center" style="color: black;">
                <label for="Documento que avala">Documento que avala</label>
                <input type="file" id="documento_aval" name="documento_aval" class="form-control ms-3 w-50" required/>
              </div>
            
              <div class="d-flex align-items-md-center" style="color: black;">
                <label for="se_encuentra_trabajando_actualmente">¿Se encuentra trabajando actualmente?</label>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesEstudia" id="opcion1" checked>
                  <label class="form-check-label" for="opcion1">Si</label>
                </div>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesEstudia" id="opcion2" checked>
                  <label class="form-check-label" for="opcion2">No</label>
                </div>
                <div class="ms-5">
                  <label for="n_anios" style="color: black;">¿Donde?</label>
                </div>
                <div class="ms-1">
                  <input type="text" id="lugar_trabajo_actual" name="lugar_trabajo_actual" class="form-control" placeholder="Trabajo actual" required/>
                </div>
              </div>
              
              <div class="d-flex align-items-md-center" style="color: black;">
                <label for="el_trabajo_que_realiza_actualmente_tiene_relacion_con_su_profesion">¿El trabajo que realiza actualmente tiene relación con su profesión?</label>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesEstudia" id="opcion1" checked>
                  <label class="form-check-label" for="opcion1">Si</label>
                </div>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesEstudia" id="opcion2" checked>
                  <label class="form-check-label" for="opcion2">No</label>
                </div>
              </div>  

              <!-- SEPARADOR "Trabajos Previos"-->
              <div class="d-flex align-items-center">
                <hr class="flex-grow-1" style="color: #3b3b3b;">
                <span class="px-3">
                  <label style="color: #747474;"> Trabajos previos </label>
                </span>
                <hr class="flex-grow-1" style="color: #3b3b3b;">
              </div>

              <div class="d-flex align-items-center">
                <div class="flex-grow-1 me-3">
                  <label for="nombre_institucion" style="color: black;">Nombre de la Institución</label>
                  <input type="text" id="nombre_institucion" name="nombre_institucion" class="form-control" placeholder="Nombre Completo de la institucion" required>
                </div> 
                <div class="flex-grow-1">
                  <label for="periodo" style="color: black;">Periodo</label>
                  <div class="d-flex align-items-end">
                    <input type="text" id="perido_inicio" name="perido_inicio" class="form-control" placeholder="2000" required>
                    <label for="a" class="ms-2 me-2 mb-1" style="color: black;">a</label>
                    <input type="text" id="perido_fin" name="perido_fin" class="form-control" placeholder="2000" required>
                  </div>
                </div>  
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1 me-3">
                  <label for="puesto" style="color: black;">Puesto</label>
                  <input type="text" id="puesto" name="puesto" class="form-control" placeholder="puesto" required>
                </div> 
                <div class="flex-grow-1 me-3">
                  <label for="area" style="color: black;">Area</label>
                  <input type="text" id="area" name="area" class="form-control" placeholder="Area" required>
                </div> 
                <div class="flex-grow-1">
                  <label for="sueldo" style="color: black;">Sueldo</label>
                  <input type="text" id="sueldo" name="sueldo" class="form-control" placeholder="Sueldo" required>
                </div>  
              </div>
              <div class="d-flex align-items-center">
                <div class="flex-grow-1 me-3">
                  <label for="jefe_inmediato" style="color: black;">Jefe inmediato</label>
                  <input type="text" id="jefe_inmediato" name="jefe_inmediato" class="form-control" placeholder="Nombre completo" required>
                </div> 
                <div class="flex-grow-1 me-3">
                  <label for="puesto_jefe" style="color: black;">Puesto del Jefe</label>
                  <input type="text" id="puesto_jefe" name="puesto_jefe" class="form-control" placeholder="Puesto del Jefe" required>
                </div> 
                <div class="flex-grow-1">
                  <label for="telefono" style="color: black;">Telefono</label>
                  <input type="tel" id="telefono" name="telefono" class="form-control" placeholder="Telefono del jefe" required>
                </div>  
              </div>
              <label for="motivo_separacion" style="color: black;">Motivo de separacion</label>
              <textarea type="text" id="motivo_separacion" name="motivo_separacion" class="form-control align-text-top" style="height: 100px;" placeholder="Escriba aqui" required></textarea>
              
              <!-- SEPARADOR "Trabajos Previos"-->
              <div class="d-flex align-items-center">
                <hr class="flex-grow-1" style="color: #3b3b3b;">
                <span class="px-3">
                  <img src="../assets/SIC_cube.png" alt="Logo" class="mb-1" style="max-width: 30px; display: inline-block;">
                </span>
                <hr class="flex-grow-1" style="color: #3b3b3b;">
              </div>

              <button type="submit" class="btn btn-primary w-25 ms-auto mt-4">Continuar</button>
            </form>  
          </div>      
        </div>
      </div>
    </div>
  </div>  
  <script src="../public/js/bootstrap.bundle.min.js"> </script>
</body>
</html>