<!doctype html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Integracion | Otros Datos</title>
  <link href="../public/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="icon" href="../assets/SIC_cube.png" type="image/png">
</head>
<body class="bg-dark text-white">
  <div 
    class="min-vh-100"
    style="background: url('../assets/UT_pattern_bg.png') 
          no-repeat center center fixed; background-size: cover;
          background-color: rgba(0, 0, 0, 0.3);
          background-blend-mode: overlay;"
  >
    <header class="col-lg-12">
        <div class="shadow-lg p-3" style="width: 100%; background-color: white; border-bottom: 2px solid #3b3b3b;">
            <h1 class="text-center text-uppercase" style="color: #009650;">Otros Datos</h1>
        </div>
    </header>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <div class="shadow-lg p-4" style="background-color:whitesmoke">
            <form class="d-grid gap-2">
              
              <div class="d-flex align-items-center">
                <label for="personas_dependen" style="color: black;">¿Cuantas personas depende de usted?</label>
                <input type="number" id="personas_dependen" name="personas_dependen" class="form-control ms-3" style="width: 100px" placeholder="0" required/>
                <label for="parentesco" style="color: black; margin-left: 1.5rem;">Parentesco</label>
                <input type="text" id="parentesco" name="parentesco" class="form-control ms-3" style="width: fit-content" placeholder="Padre y Esposo" required/>
              </div>

              <div class="d-flex" style="color: black;">
                <label for="Hijos">¿Tiene Hijos?</label>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesHijos" id="opcion1">
                  <label class="form-check-label" for="opcion1">Si</label>
                </div>
                <div class="form-check ms-3 me-5">
                  <input class="form-check-input" type="radio" name="OpcionesHijos" id="opcion2">
                  <label class="form-check-label" for="opcion2">No</label>
                </div>
              </div>  

              <!-- SECTOR "HIDDEN"-->
              <div class="d-flex align-items-center">
                <label for="nom_hijo" style="color: black; width: 50%;">Nombre Completo</label> <!-- Checar Width/mala practica #DT -->
                <input type="text" id="nombre_hijo" name="nombre" class="form-control" placeholder="Nombre(s)" required>
                <input type="text" id="apeliido_paterno_hijo" name="apellido p" class="form-control" placeholder="Apellido Paterno" required/>
                <input type="text" id="apeliido_materno_hijo" name="apellido m" class="form-control" placeholder="Apellido Materno" required/>
              </div>  
              <div class="d-flex align-items-center">
                <label for="fecha_nacimiento_hijo" style="color: black; width: 14%;">Fecha de Nacimiento</label> <!-- Checar Width/mala practica #DT -->
                <input type="date" id="fecha_nacimiento_hijo" name="fecha_nacimiento_hijo" class="form-control ms-3 text-uppercase" style="width: min-content;" required/>
                <label for="sexo_hijo" style="color: black; margin-left: 1.5rem;">Sexo</label>
                <div class="dropdown ms-3">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="ddsexo_hijo" data-bs-toggle="dropdown" aria-expanded="false">
                    Seleccionar
                  </button>
                  <div class="dropdown-menu" aria-labelledby="ddsexo_hijo">
                    <a class="dropdown-item" href="#" onclick="actualizarDD('Masculino','ddsexo_hijo')">Masculino</a>
                    <a class="dropdown-item" href="#" onclick="actualizarDD('Femenino','ddsexo_hijo')">Femenino</a>
                  </div>
                </div>
              </div>
              <!-- SEPARADOR "+"-->
              <div class="d-flex align-items-center mt-2">
                <hr class="flex-grow-1" style="color: #3b3b3b;">
                <span class="px-3">
                  <button type="button" class="btn btn-secondary rounded-circle" onclick="/* Function to clone the previous section */">+</button>
                </span>
                <hr class="flex-grow-1" style="color: #3b3b3b;">
              </div>

              <div class="d-flex" style="color: black;">
                <label for="Lentes?">¿Usa Lentes?</label>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesHijos" id="opcion1">
                  <label class="form-check-label" for="opcion1">Si</label>
                </div>
                <div class="form-check ms-3 me-5">
                  <input class="form-check-input" type="radio" name="OpcionesHijos" id="opcion2">
                  <label class="form-check-label" for="opcion2">No</label>
                </div>
              </div>  

              <div class="d-flex" style="color: black;">
                <label for="discapacidad?">¿Tiene alguna discapacidad?</label>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="opcion1">
                  <label class="form-check-label" for="opcion1">Si</label>
                </div>
                <div class="form-check ms-3 me-5">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="opcion2">
                  <label class="form-check-label" for="opcion2">No</label>
                </div>
              </div> 
              <small class="text-muted">Baja visión: Privacidad parcial de la vista que no puede ser corregida adecuadamente con gafas convencionales</small>
              <div class="d-flex justify-content-between" style="color: black">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="intelectual">
                  <label class="form-check-label" for="intelectual">Intelectual</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="multiple">
                  <label class="form-check-label" for="multiple">Múltiple</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="sordera">
                  <label class="form-check-label" for="sordera">Sordera</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="baja_vision">
                  <label class="form-check-label" for="baja_vision">Baja Vision</label>
                </div>
              </div>
              <div class="d-flex justify-content-between" style="color: black">
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="fisica_motriz">
                  <label class="form-check-label" for="fisica_motriz">Fisica/Motriz</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="psicosocial">
                  <label class="form-check-label" for="psicosocial">Psicosocial</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="hipoacusia">
                  <label class="form-check-label" for="hipoacusia">Hipoacusia</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="ceguera">
                  <label class="form-check-label" for="ceguera">Ceguera</label>
                </div>
              </div>
              <div class="d-flex form-check align-items-center" style="color: black;">
                <input class="form-check-input" type="radio" name="OpcionesDiscapacidad" id="otros">
                <label class="form-check-label m-2" for="otros">Otros</label>
                <input type="text" id="discapacidad_otros" name="discapacidad_otros" class="form-control" placeholder="Especifique" required>
              </div>

              <div class="d-flex" style="color: black;">
                <label for="labor_en_gob?">¿Haz laborado en alguna institución de gobierno?</label>
                <div class="form-check ms-3">
                  <input class="form-check-input" type="radio" name="OpcionesLaborGob" id="opcion1">
                  <label class="form-check-label" for="opcion1">Si</label>
                </div>
                <div class="form-check ms-3 me-5">
                  <input class="form-check-input" type="radio" name="OpcionesLaborGob" id="opcion2">
                  <label class="form-check-label" for="opcion2">No</label>
                </div>
              </div> 
              <div class="d-flex align-items-center" style="color: black;">
                  <label for="nombre_institución">Nombre</label>
                  <input type="text" id="nombre_institucion" name="nombre_institucion" class="form-control" placeholder="Nombre de la institucion" required>
                  <label for="periodo_institución" class="ms-5">Periodo</label>
                  <input type="text" id="inicio_periodo_institución" name="inicio_periodo_institución" class="form-control w-25" placeholder="2000" required>
                  <label class="m-1">a</label>
                  <input type="text" id="fin_periodo_institución" name="fin_periodo_institución" class="form-control w-25" placeholder="2025" required>
              </div>

              <div class="d-flex align-items-center" style="color: black;">
                <label for="tipo_sangre" style="width: max-content;">Tipo de sangre</label>
                <div class="dropdown ms-3">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="ddtipo_sangre" data-bs-toggle="dropdown" aria-expanded="false">
                    Seleccionar
                  </button>
                  <div class="dropdown-menu" aria-labelledby="ddtipo_sangre">
                    <a class="dropdown-item" href="#" onclick="actualizarDD('A+','ddtipo_sangre')">A+</a>
                    <a class="dropdown-item" href="#" onclick="actualizarDD('A-','ddtipo_sangre')">A-</a>
                    <a class="dropdown-item" href="#" onclick="actualizarDD('B+','ddtipo_sangre')">B+</a>
                    <a class="dropdown-item" href="#" onclick="actualizarDD('B-','ddtipo_sangre')">B-</a>
                    <a class="dropdown-item" href="#" onclick="actualizarDD('AB+','ddtipo_sangre')">AB+</a>
                    <a class="dropdown-item" href="#" onclick="actualizarDD('AB-','ddtipo_sangre')">AB-</a>
                    <a class="dropdown-item" href="#" onclick="actualizarDD('O+','ddtipo_sangre')">O+</a>
                    <a class="dropdown-item" href="#" onclick="actualizarDD('O-','ddtipo_sangre')">O-</a>
                  </div>
                </div>
              
                <label for="padecimientos_alergias" class="ms-5 me-3">Padecimientos y/o Alergias</label>
                <input type="text" id="padecimientos_alergias" name="padecimientos_alergias" class="form-control" placeholder="Escriba aqui" required>
                
              </div>  



              <button type="submit" class="btn btn-primary w-25 ms-auto mt-4">Continuar</button>
            </form>  
          </div>      
        </div>
      </div>
    </div>
  </div>  
  <script src="../public/js/bootstrap.bundle.min.js"> </script>
  <script>
    function actualizarDD(valor,id) {
      // Actualiza el texto del botón
      document.getElementById(id).textContent = valor;
    }
  </script>
</body>
</html>
