<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Search Admin</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../public/css/styles.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" />
</head>
<body class="light-mode">
  <!-- Botón de menú -->
  <nav class="navbar bg-body-tertiary px-3">
    <button class="btn btn-outline-dark " id="toggleMenu"><i class="bi bi-list"></i></button>
    <h5 class="ms-3 mb-0 fw-bold text-success">BIENVENIDO</h5>
    <button class="btn btn-outline-dark ms-auto" id="toggleMode"><i class="bi bi-moon-stars-fill"></i></button>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <div class="col-md-2 sidebar p-3" id="sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-house-door"></i> Dashboard</a></li>
          <li class="nav-item"><a class="nav-link active" href="#"><i class="bi bi-search"></i> Búsqueda</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-upload"></i> Cargas Pendientes</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-bell"></i> Notificaciones</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-person-plus"></i> Añadir Usuario</a></li>
          <li class="nav-item"><a class="nav-link" href="#"><i class="bi bi-gear"></i> Configuración</a></li>
        </ul>
      </div>

      <!-- Contenido principal -->
       
      <div class="col-md-10 p-4" id="mainContent">
        <h1>Busqueda</h1>
        <form action="#" method="get" class="search-button">
          <input type="search" id="search-input" name="q" placeholder="Buscar...">
          <button type="submit">Buscar</button>
        </form>
        <div class="table-responsive">
          <table class="table table-bordered text-center table-hover table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>NOMBRE</th>
                <th>CARGO</th>
                <th>CORREO</th>
                <th>RESUMEN</th>
            </tr>
            </thead>
            <tbody>
                <td>Dato 1</td>
                <td>Dato 2</td>
                <td>Dato 3</td>
                <td>Dato 4</td>
                <td>Dato 5</td>
             
            </tbody>
          </table>
        </div>

        <div class="d-flex justify-content-between">
          <button class="btn btn-secondary">Mostrando 1-7 de 20</button>
          <div>
            <button class="btn btn-success me-2">Anterior</button>
            <button class="btn btn-success">Siguiente</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/frontend/public/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="/frontend/public/js/app.js"></script>
</body>
</html>
